{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<style>
  body { background-color: #f7fafd; }
  .btn-create { margin-bottom: 20px; }
</style>

<div class="container mt-4">
  <div class="row">
    
    <!-- Sidebar -->
    <div class="col-md-3">
      {% include 'vtc/sidebar.html' %}
    </div>

    <!-- Main Contractor List -->
    <div class="col-md-9">
<div class="container mt-4">
    <h1 class="text-center mb-3">Dashboard Overview</h1>
    <p class="text-center">Manage Contracts, Work Assignments, and Workers</p>

    This is for vtc
</div>
    </div>
  </div>
</div>
{% endblock %}