<!-- templates/vtc/sidebar.html -->

<div class="sidebar p-3">
  <h5 class="fw-bold text-center mb-4 text-primary">Menu</h5>

  <ul class="nav flex-column">

    <li class="nav-item mb-2">
      <a class="nav-link" href="{% url 'vtc:worker_list' %}">
        <i class="bi bi-people-fill me-2 text-primary"></i>
        Worker List
      </a>
    </li>

    <li class="nav-item mb-2">
      <a class="nav-link" href="{% url 'vtc:to_schedule_training' %}">
        <i class="bi bi-calendar-event-fill me-2 text-success"></i>
        Schedule Training
      </a>
    </li>

    <li class="nav-item mb-2">
      <a class="nav-link" href="{% url 'vtc:scheduled_training_list' %}">
        <i class="bi bi-clipboard-check-fill me-2 text-warning"></i>
        Add Attendance & Result
      </a>
    </li>

    <li class="nav-item mb-2">
      <a class="nav-link" href="{% url 'vtc:certificate_detail' %}">
        <i class="bi bi-patch-check-fill me-2 text-info"></i>
        Verify Certificate
      </a>
    </li>

  </ul>
</div>
