{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    
    <!-- Sidebar -->
    <div class="col-md-3">
      {% include 'mm/sidebar.html' %}
    </div>

    <!-- Main content -->
    <div class="col-md-9">
      <h2 class="text-center mb-4">Certificate Verification</h2>

      <!-- Search Form -->
      <form method="get" class="mb-4">
        <div class="row">
          <div class="col-md-5">
            <input type="text" name="serial_number" placeholder="Enter Certificate Serial Number" class="form-control" value="{{ request.GET.serial_number }}">
          </div>
          
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Search</button>
          </div>
        </div>
      </form>

      {% if training %}
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Photo</th>
            <td>
              {% if training.worker.photo %}
                <img src="{{ training.worker.photo.url }}" alt="Photo" width="100">
              {% else %}
                <span class="text-muted">No Photo</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{ training.worker.name }}</td>
          </tr>
          <tr>
            <th>Father/Spouse Name</th>
            <td>{{ training.worker.father_or_spouse_name }}</td>
          </tr>
          <tr>
            <th>Aadhar</th>
            <td>{{ training.worker.aadhar_number }}</td>
          </tr>
          <tr>
            <th>Training Period(Days Present)</th>
            <td>{{ training.from_date }} to {{ training.to_date }}({{present_days}})</td>
          </tr>
          <tr>
            <th>Certificate Serial No.</th>
            <td style="font-weight: bold;">{{ training.certificate_serial_number_final }}</td>
          </tr>
        </tbody>
      </table>
      {% elif searched %}
        <div class="alert alert-danger">No certificate found with the entered details.</div>
      {% endif %}

      <a href="{% url 'mm:forwarded_training_list' %}" class="btn btn-secondary">Back to List</a>
    </div>
  </div>
</div>
{% endblock %}
